.booking-form {
  max-width: 420px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  font-family: "Poppins", sans-serif;
}

.booking-form h3 {
  font-size: 1.4rem;
  font-weight: 600;
  /* margin-bottom: 1.5rem; */
  text-align: center;
  color: #e91e63;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 500;
  color: #444;
}

.booking-form input,
.booking-form select {
  background-color: white;
  width: 100%;
  padding: 0.9rem;
  border: 1px solid #ddd;
  border-style: none none solid none;
  font-size: 1rem;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
  margin-bottom: 10px;
}

.booking-form input:focus,
.booking-form select:focus {
  border-color: #e91e63;
  outline: none;
  background: #fff;
  box-shadow: 0 0 0 3px rgba(233, 30, 99, 0.15);
}

.form-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.primary-btn {
  flex: 1;
  background: #e91e63;
  color: #fff;
  border: none;
  padding: 0.9rem 1.4rem;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.primary-btn:disabled {
  background: #838282;
  cursor: not-allowed;
}
.primary-btn:disabled:hover {
  background: #838282;
  cursor: not-allowed;
}

.primary-btn:hover {
  background: #c2185b;
}

.secondary-btn {
  flex: 1;
  background: #f1f1f1;
  color: #333;
  border: none;
  padding: 0.9rem 1.4rem;
  border-radius: 12px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.secondary-btn:hover {
  background: #ddd;
}
